@use '../../../theme/variables' as *;
@use 'editor-header';
@use 'project-tree';
@use 'project-preview';
@use 'project-properties';

.editor {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $bg-primary;
}

.editor-workspace {
  flex: 1;
  display: grid;
  grid-template-columns: 300px 1fr 350px;
  gap: 1px;
  background: lighten($bg-secondary, 8%);
}